<form action="/form" method="post">
  <input type="text" name="api_key">Your Steam API Key</input>
  <br>
  <input type="text" name="person1">Person1</input>
  <br>
  <input type="text" name="person2">Person2</input>
  <br>
  <input type="text" name="person3">Person3</input>
  <br>
  <input type="submit" value="Let's do this.">
</form>