<form action="/form" method="post">
  <br>
  <input type="text" name="person1" value="prefill a value here for testing">Person1</input>
  <br>
  <input type="text" name="person2" value="prefill a value here for testing">Person2</input>
  <br>
  <input type="text" name="person3" value="prefill a value here for testing">Person3</input>
  <br>
  <input type="text" name="api_key" value="prefill a value here for testing">Your Steam API Key</input>
  <br>
  <input type="submit" value="Let's do this.">
</form>