<form action="/form" method="post">
  <br>
  <input type="text" name="person1" value="">Person1</input>
  <br>
  <input type="text" name="person2" value="">Person2</input>
  <br>
  <input type="text" name="person3" value="">Person3</input>
  <br>
  <input type="text" name="api_key" value="">Your Steam API Key</input>
  <br>
  <input type="submit" value="Let's do this.">
</form>