<!DOCTYPE html>
<html>
<head>
  <title>SteamGameComparer Form Test</title>
</head>
<body>

  <h3>Put some stuff in the form.</h3>

  <%= yield %>
<hr>
  Footer thingy from the layout
</body>
</html>